.swipeButtons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3);
}
.buttons {
  padding: 1vw !important;
}
.left {
  color: #ec5e6f !important ;
}
.repeat {
  color: #f5b748 !important;
}
.star {
  color: #62b4f9 !important;
}
.right {
  color: #76e2b3 !important;
}
.lightning {
  color: #915dd1 !important;
}
